<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>

<img src = 'https://lh3.googleusercontent.com/pw/AIL4fc_jYkphueYY4dlHi4SS1S98EFpe-e9jUOq0wycPiroSZMH-k3aaryF46w4YU2JyCYfrELhqyhR3F1s3jnOSb332cofzGGrpqqZY39YaLE7Chzp7W7I=w2400' alt = 'HABITat Logo' height = '270' width = '400' />
<h2 style = 'text-align: center;'>HABITat Admin Website</h2>

<form method="post" style ='text-align:center;'>
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" style = 'text-align: center;'>Log In</button>
</form>
{% endblock %}
