<!-- templates/users.html -->
{% extends 'base.html' %}

{% block title %}Users{% endblock %}

{% block content %}
<style>
    table, th, td {
        border: 1px solid black;
        background-color: #F7EACA;
        margin-top: 5.5%;
        width: 99vw
    }
    th {
        background-color: #B58463;
    }
    #header {
        width: 99vw;
        height: 5vw;
        background-color: #9B9B7A;
        border: 1px solid black;
    }
</style>

<table>
    <tr>
        <th>User_id</th>
        <th>Username</th>
        <th>Name</th>
        <th>Email</th>
    </tr>
    <tr>
        {% for user in all_user_list %}
        <td>{{user.user_id}}</td>
        <td>{{user.user_name}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}